<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <script type="module">
        import { createApp, ref, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            template: `<div>
                    <input type="text" v-model="message" @keyup.enter="sendMessage" />
                    <button @click="sendMessage">Send</button>
                    <ul>
                        <li v-for="msg in messages">
                            <span><b>{{ msg.time }} | {{ msg.me ? 'Eu' : 'Fd ' + msg.fd}}</b>: {{ msg.value }}</span>
                        </li>
                    </ul>
                </div>`,
            setup() {
                const message = ref('')
                const messages = ref([]);
                const socket = ref(null);

                onMounted(() => {
                    // Ao montar os componente vuejs conecta no websockets
                    socket.value = new WebSocket('ws://127.0.0.1:9502');

                    // sempre que receber uma mensagem adiciona ao array de mensagens
                    socket.value.onmessage = (event) => {
                        messages.value.push(JSON.parse(event.data))
                    };
                })

                // envia uma mensagem para quem estiver conectado
                async function sendMessage() {
                    if (message.value.trim() !== '') {
                        socket.value.send(message.value);
                        message.value = '';
                    }
                }
                
                return {
                    messages,
                    message,
                    socket,
                    sendMessage
                }
            }
        }).mount('#app')
    </script>
</body>
</html>